<header class="app-header">
  <a class="logo" [routerLink]="['/home']">Quy Nhơn Travel</a>
  <div class="provide-location-button">
    <a [routerLink]="['/add']" pButton pRipple label="Cung cấp địa điểm" class="p-button-success"></a>
  </div>
  <div class="p-inputgroup">
    <input type="text" pInputText placeholder="Tìm kiếm địa điểm..." />
    <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
  </div>
  <div *ngIf="!isLoggedIn()" class="user-profile">
    <a [routerLink]="['/login']"><button pButton type="button" label="Đăng nhập"></button></a>
    <a [routerLink]="['/register']"><button pButton type="button" label="Đăng ký"></button></a>
  </div>
  <div *ngIf="isLoggedIn()" class="user-profile">
    <img (click)="menu.toggle($event)" class="avatar" src="assets/photo-35-16937323969741858692000.webp" alt="Avatar" />
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
  </div>
</header>
