<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="p-field">
    <label for="fullname">Họ tên</label>
    <input id="fullname" pInputText formControlName="fullname" />
  </div>
  <div class="p-field">
    <label for="email">Email</label>
    <input id="email" pInputText formControlName="email" />
  </div>
  <div class="p-field">
    <label for="password">Mật khẩu</label>
    <input id="password" pInputText type="password" formControlName="password" />
  </div>
  <button pButton type="submit" label="Đăng ký" [disabled]="!registerForm.valid"></button>
</form>
