.app-footer {
  background-color: black;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  width: 30%;
}

.footer-bottom {
  color: white;
  margin-top: 20px;
  text-align: center;
}