.location-list {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* Khoảng cách giữa các thẻ */
}

.location-card {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s; /* Thêm hiệu ứng chuyển động */
  overflow: hidden; /* Đảm bảo bo tròn góc không bị hiển thị nếu có hình ảnh chưa có kích thước hoặc mô tả dài */
}
.location-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng khi hover */
  transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
  background-color: #f5f5f5; /* Màu nền khi hover */
}

.location-card img {
  width: 100%;
  height: auto;
  display: block;
}

.location-details {
  padding: 15px;
}

.location-details h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Kích thước của icon */
  color: white; /* Màu sắc của icon */
  cursor: pointer;
  z-index: 1; /* Đảm bảo icon nằm trên hình ảnh */
  transition: color 0.3s, background-color 0.3s;
}
.favorite-icon:hover {
  color: #e74c3c; /* Màu sắc của icon khi hover */
  box-sizing: border-box;
  overflow: hidden;
}

.load-more-btn{
  margin-top: 20px;
}



app-category.disabled {
  pointer-events: none; /* Không cho phép sự kiện click khi button không được chọn */
  opacity: 0.5; /* Giảm độ mờ khi button không được chọn */
  /* Thêm các thuộc tính CSS khác tùy ý */
}