<div class="card">
  <h1>Danh sách loại địa điểm</h1>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton label="Thêm mới" pRipple icon="pi pi-plus" class="p-button-success mr-2" (click)="showDialog()"></button>
    </ng-template>
</p-toolbar>
<p-table 
  #dt
  [value]="categories" 
  styleClass="p-datatable-striped" 
  [tableStyle]="{'min-width': '60rem'}"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 20]"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="name">Tên loại hình<p-sortIcon field="name"></p-sortIcon></th>
          <th>Hành động</th>
      </tr>
  </ng-template>
  <ng-template let-category pTemplate="body" >
      <tr>
          <td>{{category.name}}</td>
          <td class="action-row">
            <button pTooltip="Sửa địa điểm" pButton type="button" 
              class="action-btn p-button-rounded  
              p-button-success" icon="pi pi-pencil"> 
            </button> 
            <button pTooltip="Xóa địa điểm" pButton type="button" class="action-btn p-button-rounded p-button-danger" icon="pi pi-trash"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Tổng loại địa điểm: {{categories ? categories.length : 0 }}
      </div>
  </ng-template>
</p-table>
</div>

<p-dialog header="Thêm loại địa điểm mới" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
      <form class="category-form field" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <label for="name">Tên loại địa điểm</label>
        <input id="name" pInputText formControlName="name" />
        <button class="p-button-success" pButton type="submit" label="Thêm" [disabled]="!categoryForm.valid"></button>
      </form>
  </ng-template>
</p-dialog>
<p-toast></p-toast>