.action-btn{
  font-size: 15px;
  padding: 0 15px;
  margin: 2px;
}
.category-form{
  display: flex;
  flex-direction: column;
}
.category-form input{
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.category-form label {
  display: block;
  margin-bottom: 8px;
}

.category-form button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  margin: auto;
}