<div class="location-list">
    <a class="location-card">
      <img src="assets/bien-quy-nhon.jpg" alt="Location Image" />
      <div class="location-details">
        <h3>Quy Nhơn</h3>
        <p>Địa chỉ: <strong>123 Hai Bà Trưng</strong></p>
        <div class="categories">
          <p-tag [rounded]="true"><i class="pi pi-tags"></i> Bãi biển</p-tag>
          <p-tag [rounded]="true"><i class="pi pi-tags"></i> Du lịch</p-tag>
        </div>
        <div class="rating">
          <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
        </div>
        <p-tag severity="success" value="Đã xác minh" [rounded]="true"></p-tag>
        <p-tag severity="danger" value="Bị từ chối" [rounded]="true"></p-tag>
        <!-- Các thông tin khác bạn muốn hiển thị -->
        <i pTooltip="Xóa khỏi danh sách yêu thích" class="favorite-icon pi pi-heart-fill"></i>
      </div>
    </a>
</div>